body{
    background-image: linear-gradient(to right, #d69e8b, #FF4E13);
    
    min-height: 100vh;
    flex-direction: column;
      
      
}

div{
    width: 220px;
    height: 250px; 
    display: inline-block;
    padding-top: 0px;
    border: 2px solid black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,-50%);

    border-radius: 5%;
    border-color: #f1efee;
    background-color: white;
   
}

form{

    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,-50%);
    
}


img{
    position: absolute;
    top: -80px;
    width: 200px;
    padding-left: 18%;
    
   
  
}
.nome{

    display: flex;
    padding: 10px;
    width: 300px;
    margin-left: 18%;
    
}

.telefone{
   
    padding: 10px;
    margin-left: 18%;
    
    
}

button{
    display: flex;
    align-items: center;
    margin-left:37%;
    position: absolute;
    margin-top: 10%;
    background-color: #FF4E13;
    border-radius: 7px;
    color: aliceblue;
    padding: 5px 12px;
    font-size: large;
    border-width: 2px;
   
}

footer {
    position: fixed;
    bottom:0;
    left: 10px;;
}

